.App {
  text-align: center;
  width:100%;
}

.logo-nav{
  padding: 5px;
  text-align: center;
  align-items: baseline;
  padding-top: 20px;
}

.logo-nav > img{
  margin-right: 30px;
  width:50px;
}

.title{
  display: inline-block;
  padding: 0;
}

.logout-button-panel{
  text-align: end;
}

.logout-button-text{
  padding-right: 10px;
}

.main-panel{
  padding:25px;
}